.closeBtn {
	upSkin:        Embed('../img/closeButton.png');
	overSkin:      Embed('../img/closeButton.png');
	downSkin:      Embed('../img/closeButton.png');
	disabledSkin:  Embed('../img/closeButton.png');
}
.increaseBtn {
	upSkin:        Embed('../img/increaseButton.png');
	overSkin:      Embed('../img/increaseButton.png');
	downSkin:      Embed('../img/increaseButton.png');
	disabledSkin:  Embed('../img/increaseButton.png');
}
.decreaseBtn {
	upSkin:        Embed('../img/decreaseButton.png');
	overSkin:      Embed('../img/decreaseButton.png');
	downSkin:      Embed('../img/decreaseButton.png');
	disabledSkin:  Embed('../img/decreaseButton.png');
}

.resizeHndlr {
	upSkin:        Embed('../img/resizeHandler.png');
	overSkin:      Embed('../img/resizeHandler.png');
	downSkin:      Embed('../img/resizeHandler.png');
	disabledSkin:  Embed('../img/resizeHandler.png');
}